*{
    margin: 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#titulo{
    font-size: 25px;
}
#subtit{
    font-size: 32px;
    margin-top: -5px;
}
#caixaesq{
    background-color: black;
    display: inline-block;
    margin: 20px;
    list-style-type: none;
    margin-left: 100px;

}
#caixadir{
    display: inline-block;
    margin: 20px;
    margin-right: 20px;

}
li{
    display: inline-block;

}
a{
    color: white;
}
a:hover{
    color: deepskyblue;

}
#listad{
    list-style: none;
    font-size: 25px
}

main{
    background-color: black;
    color: white;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    margin-top: 100px
}
#section{
    width: 650px;
    /*border: 1px solid yellow;*/
    margin-left: 100px;
}
#fotodireita{
    margin: auto;
    border-radius: 1000px;
    width: 350px;
    height: 350px;
    /*border: 1px solid pink;*/
    margin-left: 70px;
}
#fotoma{
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    margin: 0px;
}
#nome{
    font-size: 50px;
}

#formulario{
    color: azure;
    margin-top: 50px;

}
.cortext{
    background-color: aliceblue;
    color: black;
    height: 30px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 300px;

}
.enviar{
    border-radius: 15px;

    max-width: 150px;
    background-color: cadetblue;
    color: aliceblue;
    height: 40px;
    text-align: center;
}
.enviar:hover{
    cursor: pointer;
    background-color: rgb(31, 59, 31); 
    color: black;
}